
@font-face {
  font-family: "AcuminProWide-Medium";
  src: url('../fonts/.26078.otf') format("opentype");
}
@font-face {
  font-family: "AcuminProWide-Bold";
  src: url('../fonts/.26072.otf') format("opentype");
}
@font-face {
  font-family: "AcuminProWide-Regular";
  src: url('../fonts/.26086.otf') format("opentype");
}

.sign-inerror-flow {
  width               : 100%;
  min-width           : 600px;
  height              : 100vh;
  min-height          : 800px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.sign-inerror-flow .background {
  background          : rgba(27, 163, 221, 1.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.85;
}
.sign-inerror-flow .auth-pane {
  background          : rgba(255, 255, 255, 0.0);
  width               : 400px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
}
.sign-inerror-flow .auth-pane-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 34px;
  align-items         : center;
  height              : 517px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.sign-inerror-flow .auth-pane .pane {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 109px;
  height              : 408px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.sign-inerror-flow .auth-pane .forgot-password {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 389px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  font-family         : "AcuminProWide-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 127, 174, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.sign-inerror-flow .auth-pane .sign-in-to-expo {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 139px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  font-family         : "AcuminProWide-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 50, 79, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.sign-inerror-flow .auth-pane .buttonprimarygreen {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 425px;
  height              : 44px;
  width               : 300px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
}
.sign-inerror-flow .auth-pane .buttonprimarygreen .background1 {
  background          : rgba(0, 127, 174, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 300px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
}
.sign-inerror-flow .auth-pane .buttonprimarygreen .label {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : auto;
  width               : 267px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  font-family         : "AcuminProWide-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.sign-inerror-flow .auth-pane .input-group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 197px;
  height              : 160px;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
}
.sign-inerror-flow .auth-pane .input-group .moleculetext-inputwith-label {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 72px;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.sign-inerror-flow .auth-pane .input-group .moleculetext-inputwith-label .moleculetext-input {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 31px;
  height              : 41px;
  width               : 300px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.sign-inerror-flow .auth-pane .input-group .moleculetext-inputwith-label .moleculetext-input .background2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 41px;
  width               : 300px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.sign-inerror-flow .auth-pane .input-group .moleculetext-inputwith-label .moleculetext-input .formbgnormal {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 41px;
  width               : 300px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.sign-inerror-flow .auth-pane .input-group .moleculetext-inputwith-label .email {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AcuminProWide-Medium", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 40, 63, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.sign-inerror-flow .auth-pane .input-group .moleculetext-inputwith-label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 87px;
  height              : 73px;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.sign-inerror-flow .auth-pane .input-group .moleculetext-inputwith-label1 .moleculetext-input1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 31px;
  height              : 42px;
  width               : 300px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.sign-inerror-flow .auth-pane .input-group .moleculetext-inputwith-label1 .moleculetext-input1 .background3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 42px;
  width               : 300px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.sign-inerror-flow .auth-pane .input-group .moleculetext-inputwith-label1 .moleculetext-input1 .formbgnormal1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 42px;
  width               : 300px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.sign-inerror-flow .auth-pane .input-group .moleculetext-inputwith-label1 .password {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AcuminProWide-Medium", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 40, 63, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.sign-inerror-flow .auth-pane .input-group .iconeye {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 127px;
  height              : 25px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 265px;
}
.sign-inerror-flow .auth-pane .input-group .iconeye .shape {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 25px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.sign-inerror-flow .auth-pane .input-group .iconeye .shape1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 17px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
}
.sign-inerror-flow .auth-pane .logo2x {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 71px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
}
.sign-inerror-flow .auth-pane .logo2x .fill1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 48px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.sign-inerror-flow .auth-pane .logo2x .fill3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 48px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
}
.sign-inerror-flow .auth-pane .logo2x .path1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 71px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.sign-inerror-flow .auth-pane .logo2x .fill5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 71px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
}
.sign-inerror-flow .auth-pane .text-email {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 229px;
  height              : 38px;
  width               : 283px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  padding-left        : 15px;
  font-family         : "AcuminProWide-Medium", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 50, 79, 1.0);
  text-align          : left;
  line-height         : 16.0px;
  border              : 0;
}
.sign-inerror-flow .auth-pane .text-email::placeholder {
  color               : rgba(0, 50, 79, 0.6);
}
.sign-inerror-flow .auth-pane .text {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 316px;
  height              : 38px;
  width               : 283px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  padding-left        : 15px;
  font-family         : "AcuminProWide-Medium", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 50, 79, 1.0);
  text-align          : left;
  line-height         : 16.0px;
  border              : 0;
}
.sign-inerror-flow .auth-pane .text::placeholder {
  color               : rgba(0, 50, 79, 0.6);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
